<div class="desserts-container">
      <div class="dessert-item">
        <section class="item-image-add-to-cart">
          <img src="assets/images/image-waffle-tablet.jpg" alt="dessert image">
          <app-add-to-cart />
        </section>
        <section class="item-info">
          <p class="category">Waffle</p>
          <p class="name">Waffle with Berries</p>
          <p class="price">6.50</p>
        </section>
      </div>
      <div class="dessert-item">
        <section class="item-image-add-to-cart">
          <img src="assets/images/image-creme-brulee-tablet.jpg" alt="dessert image">
          <app-add-to-cart />
        </section>
        <section class="item-info">
          <p class="category">Waffle</p>
          <p class="name">Waffle with Berries</p>
          <p class="price">6.50</p>
        </section>
      </div>
      <div class="dessert-item">
        <section class="item-image-add-to-cart">
          <img src="assets/images/image-macaron-tablet.jpg" alt="dessert image">
          <app-add-to-cart />
        </section>
        <section class="item-info">
          <p class="category">Waffle</p>
          <p class="name">Waffle with Berries</p>
          <p class="price">6.50</p>
        </section>
      </div>
      <div class="dessert-item">
        <section class="item-image-add-to-cart">
          <img src="assets/images/image-tiramisu-tablet.jpg" alt="dessert image">
          <app-add-to-cart />
        </section>
        <section class="item-info">
          <p class="category">Waffle</p>
          <p class="name">Waffle with Berries</p>
          <p class="price">6.50</p>
        </section>
      </div>
      <div class="dessert-item">
        <section class="item-image-add-to-cart">
          <img src="assets/images/image-baklava-tablet.jpg" alt="dessert image">
          <app-add-to-cart />
        </section>
        <section class="item-info">
          <p class="category">Waffle</p>
          <p class="name">Waffle with Berries</p>
          <p class="price">6.50</p>
        </section>
      </div>
      <div class="dessert-item">
        <section class="item-image-add-to-cart">
          <img src="assets/images/image-meringue-tablet.jpg" alt="dessert image">
          <app-add-to-cart />
        </section>
        <section class="item-info">
          <p class="category">Waffle</p>
          <p class="name">Waffle with Berries</p>
          <p class="price">6.50</p>
        </section>
      </div>
      <div class="dessert-item">
        <section class="item-image-add-to-cart">
          <img src="assets/images/image-cake-tablet.jpg" alt="dessert image">
          <app-add-to-cart />
        </section>
        <section class="item-info">
          <p class="category">Waffle</p>
          <p class="name">Waffle with Berries</p>
          <p class="price">6.50</p>
        </section>
      </div>
      <div class="dessert-item">
        <section class="item-image-add-to-cart">
          <img src="assets/images/image-brownie-tablet.jpg" alt="dessert image">
          <app-add-to-cart />
        </section>
        <section class="item-info">
          <p class="category">Waffle</p>
          <p class="name">Waffle with Berries</p>
          <p class="price">6.50</p>
        </section>
      </div>
      <div class="dessert-item">
        <section class="item-image-add-to-cart">
          <img src="assets/images/image-panna-cotta-tablet.jpg" alt="dessert image">
          <app-add-to-cart />
        </section>
        <section class="item-info">
          <p class="category">Waffle</p>
          <p class="name">Waffle with Berries</p>
          <p class="price">6.50</p>
        </section>
      </div>
    </div>