<div class="desserts-container">
  <article class="dessert-item">
    <div class="item-image-add-to-cart">
      <picture>
        <source media="(min-width:1024px)" [srcset]="dessert.image.desktop">
        <source media="(min-width:640px)" [srcset]="dessert.image.tablet">
        <img [src]="dessert.image.mobile" [alt]="dessert.name">
      </picture>
      <app-add-to-cart></app-add-to-cart>
    </div>
    <div class="item-info">
      <p class="category">{{ dessert.category }}</p>
      <h2 class="name">{{ dessert.name }}</h2>
      <p class="price">${{ dessert.price.toFixed(2) }}</p>
    </div>
  </article>
</div>