@use 'mixins' as *;
@use 'variables' as *;

:host {
  width: 100%;
}

main {
  @include flex(row, flex-start, stretch, 2rem);
  width: min(1316px, 90%);
  margin: auto;
  padding: 1rem 0;
}

.desserts-container {
  @include flex(column, flex-start, stretch, 2rem);
  width: 100%;
  height: 100%;
  
  h1 {
    @include TextPreset1;
    color: $rose-900;
  }

  .desserts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  height: 100%;
  }
}

@media screen and (max-width: 900px) {
  main {
    flex-direction: column;
  }
}




@media screen and (max-width: 500px) {
  main {
    flex-direction: column;
  }

  .desserts-container .desserts {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  }
}



