@use 'mixins' as *;
@use 'variables' as *;

:host {
  width: 100%;
}

main {
  @include flex(row, flex-start, stretch, 2rem);
  width: min(1316px, 90%);
  margin: auto;
  padding: 1rem 0;
}

.desserts-container {
  @include flex(column, flex-start, stretch, 2rem);
  width: 100%;
  height: 100%;
  
  h1 {
    @include TextPreset1;
    color: $rose-900;
  }

  .desserts {
  @include flex(row, flex-start, stretch, 1.5rem);
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  }
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
  
}

